.searchbarContainer {
	width: 40%;
	display: flex;
	padding: 24px;
	align-items: center;
	justify-content: end;
	position: relative;
}
.searchButton {
	all: unset;
	z-index: 100;
	position: absolute;
	right: 4px;
	background-color: rgb(25, 38, 63);
	border-radius: 99em;
	width: 54px;
	height: 54px;
	padding: 8px;
	border: 4px solid white;
	outline: none;
	text-decoration: none;
	font-size: 20px;
	cursor: pointer;
}

.searchButton:hover {
	transform: scale(1.1);
	transition: transform 0.5s ease-in-out;
}

.input {
	width: 100%;
	height: 50px;
	border-radius: 14px;
	border: 4px solid white;
	font-size: 18px;
	padding: 8px 16px;
	font-weight: bold;
	background-color: transparent;
	color: white;
}

.input::placeholder {
	color: #fafafa;
}

.input:focus {
	outline: none;
}
