.nav {
	background-color: null;
	display: flex;
	padding: 24px;
	position: absolute;
	top: 0;
	width: 100%;
}

.linksContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: auto;
	width: 100%;
}

.navigationContainer {
	display: flex;
}

.navigationButton {
	min-width: 5em;
	margin: 0 8px;
	padding: 14px;
	border: 4px solid greenyellow;
	border-radius: 14px;
	text-decoration: none;
	color: #fafafa;
	/* backdrop-filter: blur(8px); */
	text-decoration: none;
	background-color: transparent;
	font-weight: bold;
	font-size: 24px;
	cursor: pointer;
}

.navigationButton:hover {
	border: 2px solid white;
	transition: transform 0.2s ease-in-out;
}

.buttons {
	min-width: 5em;
	margin: 0 8px;
	padding: 14px;
	background-color: orange;
	border: 4px solid black;
	border-radius: 14px;
	text-decoration: none;
	color: black;
	/* backdrop-filter: blur(8px); */
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
}

.buttons:hover {
	background-color: greenyellow;
	transition: transform 0.2s ease-in-out;
}
